footer {
  bottom: 0;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
  height: $footer-height;
  position: fixed;
  width: 100%;

  ul {
    @include flex;
    list-style-type: none;
    line-height: $footer-height;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    text-align: center;
  }

  li { flex: 1; }

  a {
    @include rounded-link;
    &:hover { background-color: rgba(255, 255, 255, 0.1); }
  }
}