header {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  margin: 5rem auto;
  position: relative;
  text-align: right;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  z-index: 1;

  &:after {
    background: linear-gradient(to right,
            rgba(255, 20, 147, $blur-opacity),
            rgba(147, 255, 20, $blur-opacity),
            rgba(20, 147, 255, $blur-opacity));
    content: "";
    height: 16em;
    filter: blur(60px);
    left: 50%;
    top: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 25em;
    z-index:-1;
  }

  h1 { font-size: var(--title-size); margin-block-end: 0; }
  p { font-size: var(--subtitle-size); margin-block-start: 0; }
}
