html, body { height: 100%; }

html {
  background-color: var(--color);
  overscroll-behavior: none;
  transition: --color 300ms ease-in-out;
}

body {
  @include background-image;
  @include flex;

  background-color: var(--background);
  margin: 0;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: var(--body-flex-direction);
  flex: 1;
  width: 80%;
}
