#portfolio {
  display: flex;
  flex: var(--portfolio-flex);
  flex-direction: var(--portfolio-flex-direction);
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

article {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 var(--flex-basis);
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  justify-content: flex-end;
  line-height: 3rem;
  margin: 0.5rem;
  padding: 0 0.5rem;
  position: relative;
  transition: background-color 0.25s linear;

  h2 {
    font-size: 1rem;
    font-weight: normal;

    a {
      border-radius: 2rem;
      color: #ffffff;
      inset: 0;
      padding: 0 1rem;
      position: absolute;
      text-decoration: none;

      &:hover { background: rgba(255, 255, 255, 0.1); }
    }
  }

  p {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    color: black;
    display: none;
    line-height: 1.6em;
    max-width: 30vw;
    padding: 0.1rem 0.5rem;
    z-index:2;
  }

  &:hover p {
    display: var(--tooltip-display);
    position: fixed;
    overflow: hidden;
  }

  ul {
    @include flex(row);

    list-style: none;
    padding: 0.5em;
    z-index: 2;

    a { color: rgba(255, 255, 255, 0.3); }
    a[href="/"] { display: none; }
    a:hover { color: #ffffff; }
  }
}
