$blur-opacity: 0.35;
$button-size: 40px;
$footer-height: 68px;
$theme-color: #000000;
$theme-inverse: #ffffff;
$transition-speed: 200ms;

$themes: (
  "red": rgb(195, 37, 43),
  "orange": rgb(217, 107, 10),
  "yellow": rgb(225, 172, 20),
  "blue": rgb(0, 99, 225),
  "green": rgb(77, 160, 50),
  "purple": rgb(125, 42, 126),
  "pink": rgb(217, 59, 133),
  "graphite": rgb(128, 128, 128),
);

@mixin background-image {
  background-attachment: fixed;
  background-image: url(../images/background.png);
  background-size: cover;
}

@mixin bordered-link {
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  @include rounded-link;

  &:hover {
    cursor: pointer;
  }
}

@mixin flex($direction: column) {
  align-items: center;
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

@mixin rounded-link {
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: $button-size;
  line-height: $button-size;
  text-align: center;
  width: $button-size;
}

@each $name, $color in $themes {
  .#{$name}, [data-theme=#{$name}] { --color: #{$color}; }
}

:root {
  --header-flex: 0;
  --portfolio-flex: 0;
  --body-flex-direction: column;
  --portfolio-flex-direction: row;

  --background: rgb(17, 17, 17, 0.6);
  --flex-basis: 100%;
  --subtitle-size: 4.5w;
  --theme-picker-offset: 10px;
  --theme-picker-width: 355px;
  --title-size: 13vw;
  --tooltip-display: none;
}

@media (prefers-color-scheme: light) {
  :root { --background: rgb(85, 85, 85, 0.4); }
}

@media only screen and (min-width: 1023px) {
  :root {
    --header-flex: 6;
    --portfolio-flex: 4;
    --body-flex-direction: row;
    --portfolio-flex-direction: column;

    --flex-basis: 1;
    --theme-picker-offset: 60px;
    --tooltip-display: inline-block;

    --title-size: 5vw;
  }
}
